.nextflow.log
.nextflow.log.1
.nextflow.log.3
.nextflow.log.2
.nextflow.log.4
.nextflow.log.5
.nextflow.log.6
.nextflow.log.7
.nextflow.log.8
.nextflow.log.9
.nexflow/*
work/
refGenome/
results/
.nextflow/cache/9f6e8c77-0083-44c2-8a93-9f2879d67fcb/index.focused_almeida
.nextflow/cache/9f6e8c77-0083-44c2-8a93-9f2879d67fcb/db/000003.log
.nextflow/cache/9f6e8c77-0083-44c2-8a93-9f2879d67fcb/db/CURRENT
.nextflow/cache/9f6e8c77-0083-44c2-8a93-9f2879d67fcb/db/LOCK
.nextflow/cache/9f6e8c77-0083-44c2-8a93-9f2879d67fcb/db/MANIFEST-000002
results/qc/ENCSR000COQ1_1_fastqc.zip
results/qc/ENCSR000COQ1_2_fastqc.zip
.nextflow/cache/1ccf32bb-4cda-4217-9ec9-d8f80cb67112/db/MANIFEST-000002
.nextflow/cache/1ccf32bb-4cda-4217-9ec9-d8f80cb67112/db/CURRENT
.nextflow/cache/1ccf32bb-4cda-4217-9ec9-d8f80cb67112/db/000003.log
.nextflow/cache/1ccf32bb-4cda-4217-9ec9-d8f80cb67112/index.elated_thompson
.nextflow/cache/1ccf32bb-4cda-4217-9ec9-d8f80cb67112/db/LOCK
.nextflow/history
data/refGenome/genome.fasta
data/refGenome/genome_annotation.gtf
