docker.enabled = true

params {
    max_memory = '64 GB'
    max_cpus   = 16
    max_time   = '48h'

    reads       = "$PWD/data/reads/*{1,2}.fastq.gz"
    outdir      = "$PWD/results"
    genome      = "$PWD/data/refGenome/genome.fasta"
    gtf         = "$PWD/data/refGenome/genome.gtf"
    transcripts = "$PWD/data/refGenome/transcripts.fasta"
}

process {
    withName:STARIndex {
        cpus = 4
        memory = '16 GB'
        time = '12h'
    }
    withName:STARAlign {
        cpus = 8
        memory = '32 GB'
        time = '24h'
    }
    withName:SalmonQuant {
        cpus = 4
        memory = '16 GB'
        time = '12h'
    }
    withName:FastQC {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }
    withName:TrimGalore {
        cpus = 2
        memory = '8 GB'
        time = '4h'
    }
    withName:MultiQC {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }
}

profiles {
    standard {
       
    }

    test {
        params {
            reads       = "$PWD/test_data/reads/*{1,2}.fastq.gz"
            outdir      = "$PWD/test_results"
            genome      = "$PWD/test_data/refGenome/test_genome.fasta"
            gtf         = "$PWD/test_data/refGenome/test_genome.gtf"
            transcripts = "$PWD/test_data/refGenome/test_transcripts.fasta"
            test_mode   = true
        }

        process {
            withName:STARIndex {
                cpus = 1
                memory = '4 GB'
                time = '30m'
            }
            withName:STARAlign {
                cpus = 1
                memory = '4 GB'
                time = '1h'
            }
            withName:SalmonQuant {
                cpus = 1
                memory = '2 GB'
                time = '30m'
            }
            withName:FastQC {
                cpus = 1
                memory = '2 GB'
                time = '15m'
            }
            withName:TrimGalore {
                cpus = 1
                memory = '2 GB'
                time = '15m'
            }
            withName:MultiQC {
                cpus = 1
                memory = '1 GB'
                time = '10m'
            }
        }
    }
}
