docker {
    enabled = true
}

params {
    max_memory = '64 GB'
    max_cpus = 16
    max_time = '12h'

    reads = "$PWD/data/reads/*{1,2}.fastq.gz"
    outdir = "$PWD/results"
    genome = "$PWD/data/refGenome/genome.fasta"
    gtf = "$PWD/data/refGenome/genome.gtf"
    transcripts = "$PWD/data/refGenome/transcript.fasta"
}